/* Reset básico para remover estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  background: none;
}

/* Reset para botões */
button {
  all: unset;
  cursor: pointer;
}

/* Reset para inputs */
input, textarea {
  all: unset;
}

.login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    /* width: 100%; */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  