.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f2f5, #e1e5ea);
}

.login-card {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}
.logoLogin {
  width: 150px; /* Ajuste o tamanho da logo conforme necessário */
  height: auto;
  margin-bottom: 1.5rem; /* Espaço entre a logo e o título */
}

.login-card h1 {
  margin-bottom: 1.5rem;
  color: #333;
}

.error-message {
  color: #ff4d4d;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.input-container input {
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

.input-container input:focus {
  outline: none;
  border-color: #007bff;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  width: 90%;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button:active {
  transform: scale(0.95);
}
